<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {%- block metaSeo -%}
            {%- include "AppBundle:website:blocks/meta-seo.html.twig" -%}
        {%- endblock -%}

        {%- block style -%}
            <link rel="stylesheet" href="{{ asset('/bundles/app/website/main.css', 'static') }}" />
        {%- endblock -%}
    </head>
    <body>
        {% block navigation -%}
            {% include "AppBundle:website:blocks/navigation.html.twig" %}
        {%- endblock %}

        <div class="site">
            {% block header -%}
                {% include "AppBundle:website:blocks/header.html.twig" %}
            {%- endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% include "AppBundle:website:blocks/footer.html.twig" %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('/bundles/app/website/main.js', 'static') }}"></script>
            <script>
                web.startComponents({{ get_components() }});
                web.callServices({{ get_services() }});
            </script>
        {% endblock %}
    </body>
</html>
